<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/example/p4dsl/P4Dsl" 
       class = "org.xtext.example.p4dsl.p4Dsl.P4DslPackage"
       genModel = "org/xtext/example/p4dsl/P4Dsl.genmodel" /> 
	
  </extension>




</plugin>
